@using Microsoft.AspNetCore.Http
@using API.Data.Entity
@using API.Services.Auth.Interfaces
@inject IUserService _userService;

@{
    var user = new ApplicationUser();
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Dashboard </title>


    <link href="~/SweetAlert/sweetalert2.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/FontAwsome/css/all.css" rel="stylesheet" />
    @*<link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />

    <link href="~/CustomSelectOption/select2.min.css" rel="stylesheet" />

    <link href="~/css/common_custom.css" rel="stylesheet" />

    <link href="~/css/Chart.css" rel="stylesheet" />
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Custom styles for this page -->
    <link href="~/css/jqueryui.css" rel="stylesheet" />

    <link href="~/assets/plugins/dropify/css/dropify.min.css" rel="stylesheet">

    <link href="~/data_table_offline_script/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/bootstrapmin.css" rel="stylesheet" />


    <style>

        body {
            font-size: 11pt !important;
        }

        table .btn {
            font-size: 8pt !important;
            padding: 3px 5px 3px 5px !important;
        }

        table th, table td {
            /*padding: 2px 2px 2px 2px !important;*/
            color: black !important;
            font-weight: normal !important;
        }

        .col-form-label {
            color: #606066 !important;
            font-weight: normal !important;
            padding: 0 0 0 0;
        }

        .form-control {
            color: #606066 !important;
            font-size: 10pt !important;
            padding: 1px 20px 1px 8px;
            border: 1px solid #606066;
            height: 30px;
        }

        .form-group {
            margin-bottom: 6px !important;
        }

        /*.gj-datepicker-bootstrap [role=right-icon] button {
            border: 1px solid #606066 !important;
        }

            .gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
                top: 5px !important;
            }*/

        .nav .nav-item {
            background: #30994c !important;
            border-radius: 3px !important;
        }

        /*Parsly  Section*/
        input.parsley-success,
        select.parsley-success,
        textarea.parsley-success {
            color: #468847;
            background-color: #DFF0D8;
            border: 1px solid #D6E9C6;
        }

        input.parsley-error,
        select.parsley-error,
        textarea.parsley-error {
            color: #B94A48;
            background-color: #F2DEDE;
            border: 1px solid #EED3D7;
        }

        .parsley-errors-list {
            margin: 2px 0 3px;
            padding: 0;
            list-style-type: none;
            font-size: 0.9em;
            line-height: 0.9em;
            opacity: 0;
            transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -webkit-transition: all .3s ease-in;
        }

            .parsley-errors-list.filled {
                opacity: 1;
            }

        .parsley-type, .parsley-required, .parsley-equalto {
            color: #ff0000;
        }
        /*Parsly  Section*/

        .btnCustom {
            background-color: #004474;
        }

        .ui-autocomplete {
            cursor: pointer;
            height: 400px;
            width: 300px;
            overflow-y: scroll;
            /*background-color: white;
            color: rgb(0,188,212);*/
            z-index: 1050;
            /*outline-style:outset;*/
        }

        .buttons-excel {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #36b9cc;
            border-color: #36b9cc;
        }

        .buttons-print {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: #fff;
            background-color: #1cc88a;
            border-color: #1cc88a;
        }

        .buttons-csv {
            font-weight: 400;
            text-align: center;
            user-select: none;
            border: 1px solid transparent;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
            color: white !important;
            background-color: green !important;
            border: 1px solid green !important;
        }

        .identity-box {
            color: black;
            font-weight: bolder;
            text-align: right;
            background: #d4d6d8;
            padding: 5px;
            border-radius: 5px;
        }

        .identity-box-center {
            color: black;
            font-weight: bolder;
            text-align: center;
            background: #eff2f4;
            padding: 5px;
            border-radius: 5px;
        }

        /*custom*/

        #content .navbar img {
            margin-left: 20px;
        }

        #brand-logo {
            height: 70px;
            width: 70px;
        }

        #brand-logo-text {
            color: dodgerblue;
            margin-top: 10px;
        }

        #accordionSidebar {
            background: #19244D;
        }
    </style>


    <environment include="Development">

        @*Custom*@


        @*<link href="~/Dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
        @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">*@

        <!-- Custom styles for this template-->
        @*<link href="~/Dashboard/css/sb-admin-2.min.css" rel="stylesheet">
            <link href="~/Dashboard/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
            <link href="~/SweetAlert/sweetalert2.min.css" rel="stylesheet" />*@




    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/Dashboard/DataTable/css/dataTables.bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>*@

    </environment>
</head>

<body>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

        <a asp-area="Ecommerce" asp-controller="EcommerceWebsite" asp-action="HybridIndex">
            <img src="~/images/logo/t_classy.png" height="70" width="150" />
        </a>
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>
            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>

            <!-- Nav Item - Messages -->
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @if (User.Identity.IsAuthenticated)
                    {
                        user = await _userService.GetUserInfo(User.Identity.Name);
                        if (user != null)
                        {
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user?.FullName</span>
                            <img class="img-profile rounded-circle" src="~/@user?.ImgUrl">
                        }
                        else
                        {
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hello! User</span>
                            <img class="img-profile rounded-circle" src="~/images/user.png">
                        }
                    }

                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" asp-area="Ecommerce" asp-controller="EcommerceWebsite" asp-action="MyProfile">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" asp-area="Profile" asp-controller="Profile" asp-action="Index">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" asp-area="Profile" asp-controller="Profile" asp-action="Index">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

    <div id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="menu">
                <ul class="navbar-nav sidebar sidebar-dark accordion" style="font-weight: bolder; background:#004577;" id="accordionSidebar">
                    <li class="nav-item">
                        <a class="nav-link" id="HomeIcon" href="/Home/Index">
                            <i class="fas fa-fw fa-home"></i>
                            <span style="color:white;" id="dashboard">Home</span>
                        </a>
                    </li>

                    <span id="load_menus"></span>

                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>
                </ul>

            </div>
            @*<div id="menu">
                    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background: #004577">

                        <!-- Nav Item - Dashboard -->
                        <li class="nav-item active">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">
                                <i class="fas fa-fw fa-tachometer-alt" style="font-size: 25px"></i>
                                <span style="font-weight: bold; font-size: 25px">Dashboard</span>
                            </a>
                        </li>
                        <!-- Divider -->
                        <hr class="sidebar-divider">

                        <!-- Nav Item - Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>Order</span>
                            </a>
                            <div id="collapseOrder" class="collapse" aria-labelledby="collapseOrder" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="EcommerceItem" asp-action="Delivery">Delivery</a>
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="EcommerceReport" asp-action="Index">Report</a>

                                </div>
                            </div>

                        </li>

                        <hr class="sidebar-divider">

                        <!-- Nav Item -Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEcommerce" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>Ecommerce</span>
                            </a>
                            <div id="collapseEcommerce" class="collapse" aria-labelledby="collapseEcommerce" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="EcommerceItem" asp-action="Category">Item Category</a>
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="EcomItemEntry" asp-action="Index">Ecom Item</a>
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="VendorCourier" asp-action="Index">Vendor</a>
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="" asp-action="">Report</a>

                                </div>
                            </div>
                        </li>

                        <hr class="sidebar-divider">

                        <!-- Nav Item -Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBlock" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>Block</span>
                            </a>
                            <div id="collapseBlock" class="collapse" aria-labelledby="collapseBlock" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">

                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="ItemShowBlock" asp-action="Index">Block Category</a>
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="ItemShowBlock" asp-action="SaveItemShowBlock">Block Item</a>

                                </div>
                            </div>
                        </li>

                        <hr class="sidebar-divider">

                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTemplate" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>Template</span>
                            </a>
                            <div id="collapseTemplate" class="collapse" aria-labelledby="collapseTemplate" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">

                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="EcomTemplate" asp-action="Index">Template Master</a>
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="EcomTemplate" asp-action="TemplateDetails">Template Details</a>

                                </div>
                            </div>
                        </li>

                        <hr class="sidebar-divider">

                        <!-- Nav Item -Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMasterData" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>Master Data</span>
                            </a>
                            <div id="collapseMasterData" class="collapse" aria-labelledby="collapseMasterData" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-area="MasterData" asp-controller="Gender" asp-action="Index">Gender</a>
                                    <a class="collapse-item" asp-area="MasterData" asp-controller="Slider" asp-action="Index">Slider</a>
                                    <a class="collapse-item" asp-area="MasterData" asp-controller="Brand" asp-action="Index">Brand</a>
                                    <a class="collapse-item" asp-area="MasterData" asp-controller="MasterData" asp-action="Index">Color</a>
                                    <a class="collapse-item" asp-area="MasterData" asp-controller="MasterData" asp-action="SizeIndex">Size</a>

                                </div>
                            </div>
                        </li>

                        <hr class="sidebar-divider">

                        <!-- Nav Item -Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecurity" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>Security</span>
                            </a>
                            <div id="collapseSecurity" class="collapse" aria-labelledby="collapseSecurity" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">

                                    <a class="collapse-item" asp-area="Auth" asp-controller="Roles" asp-action="CreateRole">Create Role</a>
                                    <a class="collapse-item" asp-area="Auth" asp-controller="Roles" asp-action="AssignRole">Assign Role</a>
                                    <a class="collapse-item" asp-area="Auth" asp-controller="Roles" asp-action="Index">All Role</a>

                                </div>
                            </div>
                        </li>

                        <hr class="sidebar-divider">

                        <!-- Nav Item -Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>User</span>
                            </a>
                            <div id="collapseUser" class="collapse" aria-labelledby="collapseUser" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-controller="Account" asp-action="Register">Create User</a>
                                    <a class="collapse-item" asp-area="Auth" asp-controller="User" asp-action="Index">All User</a>
                                    <a class="collapse-item" asp-area="Auth" asp-controller="User" asp-action="Index">Lock User</a>
                                    <a class="collapse-item" asp-area="Auth" asp-controller="User" asp-action="Index">Forgot Password</a>

                                </div>
                            </div>
                        </li>

                        <hr class="sidebar-divider">

                        <!-- Nav Item -Pages Collapse Menu -->
                        <li class="nav-item">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseTwo">
                                <i class="fas fa-chart-area"></i>
                                <span>Report</span>
                            </a>
                            <div id="collapseReport" class="collapse" aria-labelledby="collapseUser" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded">
                                    <a class="collapse-item" asp-area="Ecommerce" asp-controller="EcommerceReport" asp-action="Index">Report</a>
                                </div>
                            </div>
                        </li>

                        <!-- Divider -->
                        <hr class="sidebar-divider d-none d-md-block">
                        <!-- Sidebar Toggler (Sidebar) -->
                        <div class="text-center d-none d-md-inline">
                            <button class="rounded-circle border-0" id="sidebarToggle"></button>
                        </div>
                    </ul>
                </div>*@

            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Begin Page Content -->
                    <div class="container-fluid" style="padding: 0 8px;">
                        @RenderBody()
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
        <footer class="sticky-footer" style="background: #C5D6E9;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span><a href="https://www.ARSoft.com/" target="_blank" style="text-decoration:none;"> 2020-Developed By @@Rayhan </a>&copy; @DateTime.Now.Year</span>
                </div>
            </div>
        </footer>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <form asp-area="Auth" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <button type="submit" onclick="ClearLocalStorage()" class="btn btn-success">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal-->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<img src="~/images/Aloha New Logo.png" style="height:50px;" />*@
                    <h5 class="modal-title" id="exampleModalLabel">Change Password </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-area="Auth" asp-controller="Account" asp-action="ChangePassword" method="post" role="form" data-parsley-validate="parsley">
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="OldPassword">Current Password<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <input type="password" class="form-control" id="OldPassword" name="OldPassword" autocomplete="off" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="Password">New Password<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <input type="password" class="form-control" id="Password" name="Password" autocomplete="off" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-lg-4 col-sm-12" style="color:black;" for="ConfirmPassword">Confirm Password<span style="float:right;">:</span></label>
                            <div class="col-md-8 col-lg-8 col-sm-12">
                                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" autocomplete="off" data-parsley-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 col-lg-12 col-sm-12">
                                <button type="submit" style="float:right;" class="btn btn-success">Submit</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



    @*dropdown with search*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@
    <script src="~/CustomSelectOption/select2.min.js"></script>
    <script src="~/FontAwsome/js/all.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Custom scripts for all autocomplete-->
    <script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>

    @*<script src="~/SweetAlert/sweetalert2.common.js"></script>*@
    <script src="~/SweetAlert/sweetalert2.js"></script>

    <script src="~/js/Chart.js"></script>
    <!--DataTable Js -->
    <script src="~/lib/DataTables/datatables.min.js"></script>

    <!-- toaster notification script -->
    <script src="~/lib/toastr/toastr.min.js"></script>
    <!-- Page level plugins -->

    <script src="~/data_table_offline_script/jquery.dataTables.min.js"></script>
    <script src="~/data_table_offline_script/dataTables.bootstrap4.min.js"></script>
    <script src="~/data_table_offline_script/dataTables.buttons.min.js"></script>
    <script src="~/data_table_offline_script/jszip.min.js"></script>
    <script src="~/data_table_offline_script/pdfmake.min.js"></script>
    <script src="~/data_table_offline_script/vfs_fonts.js"></script>
    <script src="~/data_table_offline_script/buttons.html5.min.js"></script>
    <script src="~/data_table_offline_script/buttons.print.min.js"></script>
    <script src="~/assets/plugins/dropify/js/dropify.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/ObjectifyForm.js"></script>
    <script src="~/js/lay/poppermin.js"></script>
    <script src="~/js/lay/jquery-migrate-300min.js"></script>
    <script src="~/js/lay/bootstrapmin.js"></script>
    <script src="~/js/lay/jqueryui.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>

    <script type="text/javascript">

        $('#load_menus').load('@Url.Action("NavbarLoad", "Navbar", new { area="Auth"})');

        $(document).ready(function () {

            $('.customSelect').select2();

            $(".select2").css("width", "100%");
            $(".select2-selection--single").css("height", "33px");
            $(".select2-selection--single").css("border", "1px solid #d1d3e2");
            $(".select2-selection__rendered").css("line-height", "32px");

        });

    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
