
@using System.Web
@model NavbarViewModel

@{
    int sl = 1;
}
<br/>
<section>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-6" style="padding-right:5px !important">
                    <div class="card custom_card_cls hover_pointer_cls tab_data_card_cls div_grow_cls" id="crdCurrent">
                        <div class="card-body" onclick="moduleRouteFun()">
                            <div class="row">
                                <div class="col-4 align_self_center_cls">
                                    <div class="data_icon_cls">
                                        <i class="far_cls fas fa-th-list  rounded_circle_cls bg_soft_warning_cls"></i>
                                    </div>
                                </div><!-- end col-->
                                <div class="col-8">
                                    <h3 id="CurrentEmployee"></h3>
                                    <p class="text-muted font-14 mb-0">Module</p>
                                </div><!-- end col-->
                            </div><!-- end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!-- end col-->
                <div class="col-md-6" style="padding-left:5px !important">
                    <div class="card hover_pointer_cls custom_card_cls tab_data_card_cls div_grow_cls" id="crdTerminated">
                        <div class="card-body" onclick="parentRouteFun()">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <div class="data_icon_cls">
                                        <i class="far_cls fas fa-code-branch  rounded_circle_cls bg_soft_success_cls"></i>
                                    </div>
                                </div><!-- end col-->
                                <div class="col-8">
                                    <h3 id="TerminatedEmployee"></h3>
                                    <p class="text-muted font-14 mb-0">Parent</p>
                                </div><!-- end col-->
                            </div><!-- end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!-- end col-->
            </div><!--end row-->
            <div class="margin_top_10px_cls"></div>
            <div class="row">
                <div class="col-md-6" style="padding-right:5px !important">
                    <div class="card custom_card_cls hover_pointer_cls tab_data_card_cls div_grow_cls" id="crdSuspended">
                        <div class="card-body" onclick="bandRouteFun()">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <div class="data_icon_cls">
                                        <i class="far_cls fas fa-random rounded_circle_cls bg_soft_secondary_cls"></i>
                                    </div>
                                </div><!-- end col-->
                                <div class="col-8">
                                    <h3 id="SuspendedEmployee"></h3>
                                    <p class="text-muted font-14 mb-0">Band</p>
                                </div><!-- end col-->
                            </div><!-- end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!-- end col-->
                <div class="col-md-6" style="padding-left:5px !important">
                    <div class="card custom_card_cls hover_pointer_cls tab_data_card_cls div_grow_cls" id="crdFormer">
                        <div class="card-body" onclick="childRouteFun()">
                            <div class="row">
                                <div class="col-4 align-self-center">
                                    <div class="data_icon_cls">
                                        <i class="far_cls fas fa-location-arrow rounded_circle_cls bg_soft_pink_cls"></i>
                                 
                                        </div>
                                </div><!-- end col-->
                                <div class="col-8">
                                    <h3 id="FormerEmployee"></h3>
                                    <p class="text-muted font-14 mb-0">Child</p>
                                </div><!-- end col-->
                            </div><!-- end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!-- end col-->
            </div><!--end row-->
            <div class="margin_top_10px_cls"></div>
            <form id="myForm" data-parsley-validate="parsley">
                <div class="card custom_card_cls">
                    <div class="card-header custom_card_header_cls">
                        <h5 class="font-weight-bold">create nav module</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="Name">Name<span style="color:red">*</span></label>
                                    <div>
                                        <input type="hidden" asp-for="Id" class="form-control" value="0" />
                                        <input type="text" asp-for="Name" class="form-control" data-parsley-required="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="IsChild" class="col-form-label">IsChild <span style="color:red">*</span></label>
                                    <div>
                                        <select asp-for="IsChild" onchange="isChildFun()" class="form-control">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="ShortOrder">Short Order <span style="color:red">*</span></label>
                                    <div>
                                        <input type="number"asp-for="ShortOrder" class="form-control" data-parsley-required="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ImgClass" class="col-form-label">Image <span style="color:red">*</span></label>
                                    <div>
                                        <input type="text" asp-for="ImgClass" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row child_row_cls">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Area" class="col-form-label">Area <span style="color:red">*</span></label>
                                    <div>
                                        <input type="text" asp-for="Area" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Controller" class="col-form-label">Controller <span style="color:red">*</span></label>
                                    <div>
                                        <input type="text" asp-for="Controller" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row child_row_cls">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Action" class="col-form-label">Action <span style="color:red">*</span></label>
                                    <div>
                                        <input type="text" asp-for="Action" class="form-control"  />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>

                        <button type="button" onclick="submitFun()" class="btn btn-success float-right"><i class="fas fa-save"></i></button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card custom_card_cls">
                <div class="card-body">
                    <table class="table table-bordered table-striped data_table_cls">
                        <thead>
                            <tr>
                                <th>Information</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.NavModules)
                            {
                                <tr>
                                    <td>
                                        <p>
                                            <span> Name: @item.Name</span>
                                            <br />
                                            <span>
                                                IsChild:
                                                @if (item.IsChild == true)
                                                {
                                                    <span>Yes</span>
                                                }
                                                else
                                                {
                                                    <span>No</span>
                                                }
                                            </span>
                                            <span> &nbsp; Order: @item.ShortOrder</span>
                                            <br />
                                            <span>Route: @item.Area/@item.Controller/@item.Action</span>
                                            <br />
                                            <span>Image: @item.ImgClass</span>
                                        </p>
                                    </td>
                                    <td>
                                        <div class="dropdown d-inline-block float-right">
                                            <a class="nav-link dropdown-toggle arrow_none_cls"  data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v font-20 text-muted" ></i >
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right data_table_dropdown_menu_cls" aria-labelledby="dLabel4" x-placement="bottom-end" style = "position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-123px, 35px, 0px);">
                                                <button class="dropdown-item" onclick="editFun(@item?.Id, 
                                                    '@Html.Raw(HttpUtility.JavaScriptStringEncode(item?.Name))',  
                                                    '@Html.Raw(HttpUtility.JavaScriptStringEncode(item?.Area))',  
                                                    '@Html.Raw(HttpUtility.JavaScriptStringEncode(item?.Controller))',  
                                                    '@Html.Raw(HttpUtility.JavaScriptStringEncode(item?.Action))',  
                                                    '@item?.ShortOrder', 
                                                    '@item?.IsChild', 
                                                    '@Html.Raw(HttpUtility.JavaScriptStringEncode(item?.ImgClass))')">  
                                                    <i class="fa fa-edit" style="color:limegreen"></i> Edit
                                                    </button>
                                                    <button class="dropdown-item" onclick="deleteFun(@item?.Id)">
                                                        <i class="fa fa-trash-alt" style="color:red"></i> Delete
                                                    </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</section>

@section Scripts{ 

    <script>

        $(".child_row_cls").hide();
        $('.data_table_cls').DataTable();   

        $(document).ready(function () {
               

        });
        function moduleRouteFun() {
            window.location = "/Navbar";
        }
        function parentRouteFun() {
            window.location = "/NavParent";
        }
        function bandRouteFun() {
            window.location = "/NavBand";
        }
        function childRouteFun() {
            window.location = "/NavItem";
        }
        function isChildFun() {
            var isChild = $("#IsChild option:selected").val();
            if (isChild == 1) {
                $(".child_row_cls").show();
            } else {
                $(".child_row_cls").hide();
            }
        }

        function submitFun() {

            var Name = $('#Name').val();
            var ShortOrder = $('#ShortOrder').val();
            var ImgClass = $('#ImgClass').val();

            if (Name == null || Name == '') {
                swal({
                    title: 'Invalid Input', text: 'Please enter name!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                });
                return false;
            }
            else if (Name.length > 150) {
                swal({
                    title: 'Invalid Input', text: 'Name length must be less or equals 150 char[English]!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                });
                return false;
            }
            else if (ShortOrder <= 0) {
                swal({
                    title: 'Invalid Input', text: 'Short Order must be Greater than Zero[0] !!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                });
                return false;
            }
            else if (ImgClass == null || ImgClass == '') {
                swal({
                    title: 'Invalid Input', text: 'Please enter img class!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                });
                return false;
            }
            else if (ImgClass.length > 150) {
                swal({
                    title: 'Invalid Input', text: 'Image class name length must be less or equals 150 char[English]!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                });
                return false;
            }

            swal({
                title: 'Are you sure?', text: 'Do you want save this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, Save it!'
            }).then(function () {

                var myData = $("#myForm").serialize();

                $.ajax({
                    url: "/Auth/Navbar/Index",
                    type: "post",
                    data: myData,
                    success: function (res) {
                        if (res == "success") {
                            swal({
                                title: 'Success!', text: 'Save Successfully!', type: 'success', showCancelButton: false, confirmButtonColor: '#3085d6', confirmButtonText: 'Ok!'
                            }).then(function () {
                                location.reload();
                            });
                        }
                        else {
                            //swal('Warning!', 'Unable to save!', 'warning');
                            swal({
                                title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'error', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                            }).then(function () {
                                location.reload();
                            });
                        }

                    }
                });
            });
        }

        function editFun(Id, Name, Area, Controller, Action, ShortOrder, IsChild, ImgClass) {

            refresh();

            $("#Id").val(Id);
            $("#Name").val(Name);
            $("#Area").val(Area);
            $("#Controller").val(Controller);
            $("#Action").val(Action);
            $("#ShortOrder").val(ShortOrder);
            $("#ImgClass").val(ImgClass);

            if (IsChild === true) {
                $("#IsChild").val(1);
                $(".child_row_cls").show();
            } else {
                $("#IsChild").val(0);
                $(".child_row_cls").hide();
            }

            window.location.href = "#myForm";
        }

        function deleteFun(id) {

            swal({
                title: 'Are you sure?', text: 'Do you want Delete this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, Delete it!'
            }).then(function () {

                $.ajax({
                    url: "/Auth/Navbar/DeleteNavModuleById/" + id,
                    type: "get",
                    success: function (res) {

                        if (res == "success") {
                            swal({
                                title: 'Success!', text: 'Delete Successfully!', type: 'success', showCancelButton: false, confirmButtonColor: '#3085d6', confirmButtonText: 'Ok!',
                            }).then(function () {
                                location.reload();
                            });
                        }
                        else {
                            //swal('Warning!', 'Unable to Delete!', 'warning');
                            swal({
                                title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'error', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                            }).then(function () {
                                location.reload();
                            });
                        }
                    }
                });
            });
        }

        function refresh() {

            $("#Id").val(0);
            $("#Name").val('');
            $("#ShortOrder").val('');
            $("#ImgClass").val('');
            $("#Area").val('');
            $("#Controller").val('');
            $("#Action").val('');
            $("#IsChild").val(0);
        }
    </script>

}
