
@using System.Web
@model NavbarViewModel

@{
    int sl = 1;
}

<section>
    <div class="">
        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <h5 class="font-weight-bold">Role Wise Navbar Assign</h5>
                    </div>
                    <div class="card-body">
                        <form asp-area="Auth" asp-controller="Navbar" asp-action="RoleChaceFunRedirection" method="post">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-4">Role <span style="color:red">*</span></label>
                                        <div class="col-md-8">
                                            <select name="roleId" id="roleId" class="form-control" onchange="roleChangeFun()">
                                                <option value="no">select role</option>
                                                @foreach (var item in Model.Roles)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <input type="submit" id="roleIdForm" style="display:none"/>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="button" onclick="submitFun()" class="btn btn-success float-right"><i class="fas fa-save"></i></button>
                                <button type="button" onclick="refresh()" class="btn btn-danger float-right mr-1"><i class="fas fa-sync-alt"></i></button>
                            </div>
                            <div class="col-md-3"></div>
                        </div>                       
                        <hr />
                        <br />
                        <form id="myForm">
                            <table class="table table-bordered table-striped" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>#SL</th>
                                        <th>Module</th>
                                        <th>Parent</th>
                                        <th>Band</th>
                                        <th>Display Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserAccessPageSPModels)
                                    {
                                        <tr>
                                            <td>@sl</td>
                                            <td>@item?.module</td>
                                            <td>@item?.parent</td>
                                            <td>@item?.band</td>
                                            <td>@item?.navItem</td>
                                            <td>
                                                @if (item?.navItemId > 0)
                                                {
                                                    if (Model.UserAccessPages.Where(x => x.navItemId == item.navItemId).FirstOrDefault() != null)
                                                    {
                                                        <input type="hidden" name="itemdIdArray" value="@item?.navItemId" id="nav_item_id_@sl" />
                                                        <input type="checkbox" class="form-control" checked="checked" onclick="itemCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" value="@item?.navItemId" id="nav_item_id_@sl" />
                                                        <input type="checkbox" class="form-control" onclick="itemCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }

                                                }
                                                else if (item?.bandId > 0)
                                                {
                                                    if (Model.UserAccessPages.Where(x => x.bandId == item.bandId).FirstOrDefault() != null)
                                                    {
                                                        <input type="hidden" name="bandIdArray" value="@item?.bandId" id="nav_band_id_@sl" />
                                                        <input type="checkbox" class="form-control" checked="checked" onclick="bandCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" value="@item?.bandId" id="nav_band_id_@sl" />
                                                        <input type="checkbox" class="form-control" onclick="bandCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }

                                                }
                                                else if (item?.parentId > 0)
                                                {
                                                    if (Model.UserAccessPages.Where(x => x.parentId == item.parentId).FirstOrDefault() != null)
                                                    {
                                                        <input type="hidden" name="parentIdArray" value="@item?.parentId" id="nav_parent_id_@sl" />
                                                        <input type="checkbox" class="form-control" checked="checked" onclick="parentCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" value="@item?.parentId" id="nav_parent_id_@sl" />
                                                        <input type="checkbox" class="form-control" onclick="parentCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }

                                                }
                                                else if (item?.moduleId > 0)
                                                {
                                                    if (Model.UserAccessPages.Where(x => x.moduleId == item.moduleId).FirstOrDefault() != null)
                                                    {
                                                        <input type="hidden" name="moduleIdArray" value="@item?.moduleId" id="nav_module_id_@sl" />
                                                        <input type="checkbox" class="form-control" checked="checked" onclick="moduleCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }
                                                    else
                                                    {
                                                        <input type="hidden" value="@item?.moduleId" id="nav_module_id_@sl" />
                                                        <input type="checkbox" class="form-control" onclick="moduleCheckFun(@sl, this)" style="height:20px; width:20px; margin:auto" />
                                                    }
                                                }
                                            </td>

                                        </tr>
                                        sl++;
                                    }
                                </tbody>
                            </table>
                            <input type="hidden" name="roleId" id="hidden_roleId_for_table_submit_id"/>
                        </form>                       
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</section>

@section Scripts{ 

    <script>
        $(document).ready(function () {

            $('.data_table_cls').DataTable();
            if ('@Html.Raw(Model.roleId)' != "no") {
                $("#roleId").val('@Html.Raw(Model.roleId)');
            }

            @*console.log(@Html.Raw(Json.Serialize(Model.UserAccessPageSPModels)));*@


        });

        function submitFun() {

            var roleId = $('#roleId').val();

            if (roleId == "no" || roleId == '' || roleId == null) {
                swal({
                    title: 'Invalid Input', text: 'Please select role from above!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                });
                return false;
            }

            $("#hidden_roleId_for_table_submit_id").val(roleId);
            var myData = $("#myForm").serialize();

            swal({
                title: 'Are you sure?', text: 'Do you want save this record!', type: 'warning', showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor: '#d33', confirmButtonText: 'Yes, Save it!'
            }).then(function () {

                $.ajax({
                    url: "/Auth/Navbar/NavbarAssign",
                    type: "post",
                    data: myData,
                    success: function (res) {
                        if (res == "success") {
                            swal({
                                title: 'Success!', text: 'Save Successfully!', type: 'success', showCancelButton: false, confirmButtonColor: '#3085d6', confirmButtonText: 'Ok!'
                            }).then(function () {
                                location.reload();
                            });
                        }
                        else {
                            //swal('Warning!', 'Unable to save!', 'warning');
                            swal({
                                title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'error', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                            }).then(function () {
                                location.reload();
                            });
                        }

                    }
                });
            });
        }

        function roleChangeFun() {

            var roleId = $("#roleId option:selected").val();
            if (roleId == null || roleId == '') {
                swal({
                    title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                }).then(function () {
                    location.reload();
                });
            }
            else {
                $("#roleIdForm").click();
            }
            }

        function itemCheckFun(id, e) {
            if (id > 0) {            
                if (e.checked) {
                    $("#nav_item_id_" + id).attr('name', 'itemdIdArray');                
                }
                else {
                    $("#nav_item_id_" + id).removeAttr('name');
                }
            }
            else {
                swal({
                    title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                }).then(function () {
                    location.reload();
                });
            }
        }
        function bandCheckFun(id, e) {
            if (id > 0) {
                if (e.checked) {
                    $("#nav_band_id_" + id).attr('name', 'bandIdArray');
                }
                else {
                    $("#nav_band_id_" + id).removeAttr('name');
                }
            }
            else {
                swal({
                    title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                }).then(function () {
                    location.reload();
                });
            }
        }
        function parentCheckFun(id, e) {
            if (id > 0) {
                if (e.checked) {
                    $("#nav_parent_id_" + id).attr('name', 'parentIdArray');
                }
                else {
                    $("#nav_parent_id_" + id).removeAttr('name');
                }
            }
            else {
                swal({
                    title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                }).then(function () {
                    location.reload();
                });
            }
        }
        function moduleCheckFun(id, e) {
            if (id > 0) {
                if (e.checked) {
                    $("#nav_module_id_" + id).attr('name', 'moduleIdArray');
                }
                else {
                    $("#nav_module_id_" + id).removeAttr('name');
                }
            }
            else {
                swal({
                    title: 'ERROR', text: 'Something is wrong please try Again!!!', type: 'warning', confirmButtonColor: '#3085d6', confirmButtonText: 'OK!'
                }).then(function () {
                    location.reload();
                });
            }
        }

        function refresh() {
            location.reload();
        }
    </script>

}
