
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

    int i = 1;
}


<br />
<section>
    <div class="card">
        <div class="card-header">
            <a asp-area="User" asp-controller="User" asp-action="GeneralUser" class="btn btn-success float-right">Go To General User List</a>
            <h5 class="font-weight-bold" style="color: black">Employee User List</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="user_table_list_id">
                <thead>
                    <tr>
                        <th>
                            Serial No.
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>Email</th>
                        <th>Emp Code</th>
                        <th>Roles</th>
                        @*<th>Salary</th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @item?.fullName
                            </td>
                            <td>@item?.Email</td>
                            <td>@item?.employeeCode</td>
                            <td>@item?.roleName</td>
                            @*<td><button type="button" onclick="updateSalaryFun('@item.UserName', '@item.fullName', @item.salary)" class="btn btn-success">@item.salary</button></td>*@
                            <td>
                                <button onclick="viewFun('@item.Email')" type="button" class="btn btn-info btn-sm"><i class="fa fa-eye"></i></button>
                                @if (item.isActive == false)
                                {
                                    <button onclick="lockFun('@item.Email')" type="button" class="btn btn-danger btn-sm"><i class="fas fa-lock"></i></button>
                                }
                                else
                                {
                                    <button onclick="lockFun('@item.Email')" type="button" class="btn btn-danger btn-sm"><i class="fas fa-lock-open"></i></button>
                                }

                                <button onclick="forgotFun('@item.Email')" type="button" class="btn btn-success btn-sm"><i class="fas fa-key"></i></button>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<br />

@*User Info Modal*@

<!-- Salary Update Modal -->
<div class="modal fade" id="salary_update_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel03" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #1e90ff; color: white">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel03">User Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td id="name_in_modal_id"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td id="email_in_modal_id"></td>
                        </tr>
                        <tr>
                            <td>Current Salary</td>
                            <td id="salary_in_modal_id"></td>
                        </tr>
                        <tr>
                            <td>Update Salary</td>
                            <td>
                                <form id="updateSalaryForm">
                                    <input type="hidden" name="email" id="email_id" />
                                    <input type="number" min="1" name="taka" id="taka_id" class="form-control" placeholder="how much promotioned taka" />
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer" style="background: lightgrey">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" onclick="updateSalarySubmitFun()" class="btn btn-success" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="user_info_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #1e90ff; color: white">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">User Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="user_info_modal_body" style="background: lightgrey;">

            </div>
            <div class="modal-footer" style="background: lightgrey">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<br />


@* Forget password Modal*@

<!-- Modal -->
<div class="modal fade" id="forget_password_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_03" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel_03">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="forgotPassForm">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">New Password</label>
                        <div class="col-md-8">
                            <input type="password" name="newPassword" id="newPassword" onkeyup="newPass()" class="form-control" />
                            <label style="color: red" class="errorMsg">pass and confirm pass doesn't match</label>
                            <label style="color: red" class="errorMsgLen">minimum password length 8 char </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-4">Confirm Password</label>
                        <div class="col-md-8">
                            <input type="password" name="confirmPassword" id="confirmPassword" onkeyup="conPass()" class="form-control" />
                            <label style="color: red" class="errorMsg">pass and confirm pass doesn't match</label>
                            <label style="color: red" class="errorMsgLen">minimum password length 8 char </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" onclick="changePassword()" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>

        $(".errorMsg").hide();
        $(".errorMsgLen").hide();


        $(document).ready(function () {

            $("#user_table_list_id").DataTable();

        });

        function updateSalaryFun(email, name, salary) {

            $("#name_in_modal_id").text(name);
            $("#email_in_modal_id").text(email);
            $("#salary_in_modal_id").text(salary);

            $("#email_id").val(email);

            $("#salary_update_modal").modal("show");

        }

        function updateSalarySubmitFun() {

            var myData = $("#updateSalaryForm").serialize();

            $.ajax({
                url: "/User/User/UpdateSalary",
                type: "post",
                data: myData,
                success: function(res) {

                    if (res == "success") {

                        swal({
                            title: 'Success!',
                            text: 'Update Salary Process Successful!',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok!'
                        }).then(function() {
                            window.location.href = "/User/User/Index";
                        });
                    } else {

                        swal({
                            title: 'SORRY!',
                            text: 'Something is Wrong Please Try Again!',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Ok!'
                        }).then(function () {
                            location.reload();
                        });
                    }
                }
            });

        }

        function viewFun(username) {

            $("#user_info_modal_body").empty();

            $.ajax({
                url: "/api/User/UserDetails/" + username,
                type: "get",
                success: function (res) {
                    console.log(res);
                    var userInfo = '<div>' +
                        '<div class="row">' +
                        '<img src="/' + res.imgUrl +'" class="rounded-circle" height="120" width="120" style="margin:auto"/'+
                        '</div>' +
                        '<table class="table table-bordered" style="margin-top: 20px; color:black;">' +
                        '<tr>' +
                        '<td>Username</td>' +
                        '<td>' + res.fullName +'</td>'+
                        '</tr>' +
                        '<tr>' +
                        '<td>User ID</td>' +
                        '<td>' + res.employeeCode +'</td>'+
                        '</tr>' +
                        '<tr>' +
                        '<td>Mobile</td>' +
                        '<td>' + res.phoneNumber +'</td>'+
                        '</tr>' +
                        '<tr>' +
                        '<td>Email</td>' +
                        '<td>' + res.email +'</td>'+
                        '</tr>' +
                        '<tr>' +
                        '<td>Designation</td>' +
                        '<td>' + res.roleName +'</td>'+
                        '</tr>' +
                        '</table>'+
                        '</div>';

                    $("#user_info_modal_body").append(userInfo);
                    $("#user_info_modal").modal("show");
                }
            });


        }


        function lockFun(username) {

            swal({
                title: 'Are you sure?',
                text: 'Do you want to Lock OR Unlock This User!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Lock/UnLock !'
            }).then(function () {

                $.ajax({
                    url: "/api/User/LockUser/" + username,
                    type: "get",
                    success: function (res) {

                        if (res == "success") {

                            swal({
                                title: 'Success!',
                                text: 'Your Lock/UnLock Process Successful!',
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Ok!'
                            }).then(function() {
                                window.location.href = "/User/User/Index";
                            });
                        } else {

                            swal({
                                title: 'SORRY!',
                                text: 'Something is Wrong Please Try Again!',
                                type: 'warning',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Ok!'
                            }).then(function () {
                                location.reload();
                            });
                        }
                    }
                });

            });




        }

        function newPass() {

            var nPass = $("#newPassword").val();
            var cPass = $("#confirmPassword").val();

            if (nPass.length > 5 && cPass.length > 5) {

                $(".errorMsgLen").hide();
            }

            if (nPass.length > 0 && cPass.length > 0) {

                if (nPass != cPass) {

                    $(".errorMsg").show();
                } else {
                    $(".errorMsg").hide();
                }
            }
        }

        function conPass() {

            var nPass = $("#newPassword").val();
            var cPass = $("#confirmPassword").val();

            if (nPass.length > 5 && cPass.length > 5) {

                $(".errorMsgLen").hide();
            }

            if (nPass.length > 0 && cPass.length > 0) {

                if (nPass != cPass) {

                    $(".errorMsg").show();
                } else {
                    $(".errorMsg").hide();
                }
            }
        }

        var username;

        function forgotFun(user) {

            username = user;

            $("#forget_password_modal").modal("show");

        }

        function changePassword() {


            var nPass = $("#newPassword").val();
            var cPass = $("#confirmPassword").val();

            if (nPass.length < 5 || cPass.length < 5)
            {
                $(".errorMsgLen").show();
                return false;
            }
            else if (nPass != cPass) {

                $(".errorMsg").show();
                return false;

            }
            else {

                $("#forget_password_modal").modal("hide");

                swal({
                    title: 'Are you sure?',
                    text: 'Do you want update password of this User!',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Update !'
                }).then(function () {

                    $.ajax({
                        url: "/api/User/ForgotPassword/" + username + '/' + cPass,
                        type: "get",
                        success: function (res) {

                            if (res == "success") {

                                swal({
                                    title: 'Success!',
                                    text: 'Password Update Successfully!',
                                    type: 'success',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Ok!'
                                }).then(function() {
                                    window.location.href = "/User/User/Index";
                                });
                            } else {

                                swal({
                                    title: 'SORRY!',
                                    text: 'Something is Wrong Please Try Again!',
                                    type: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Ok!'
                                }).then(function () {
                                    location.reload();
                                });
                            }
                        }
                    });

                });
            }

        }
    </script>
}
